[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    ui = true

[user]
	name = Adrien
	email = adrien@manadge.co

[alias]
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    undolast = reset --soft HEAD^

[commit]
    verbose = true

[pull]
    rebase = true

[branch]
    autosetuprebase = always

[core]
    excludesfile = /home/dridou/.gitignore 
